* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Nunito", sans-serif;
    font-size: 1.2em;
}

body {
    background-color: rgb(210, 192, 240);
}

header {
    background-color: aqua;
    text-align: center;
    padding:15px 0;
}

footer {
    background-color: rgb(173, 226, 226);
    padding: 20px 60px;
}

.about {
    background-color: rgb(135, 68, 197);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 4, 24);
    text-transform: uppercase;
    text-decoration: underline;
}
p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-left: 2%;
}
.gabe 
{
    border: black;
    border-radius: 5%;
    box-shadow: inset 5%;
    display: block;
    margin: 0 auto;
    text-align: center;
    
}
.articles {
    padding: 20px 50px;
}

.content 
{
    padding: 20px50px;
}

div:hover {
    background-color: rgb(159, 238, 238);

}
div:focus {
    color: red;
}

a:link {
    color: red;
}
a:visited {
    color: purple;
}
a:focus {
    color: green;
}
a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: peru;
}

.list-example::before{
    content: "-Важно!";
    font-size: 30px;
    color: rgb(74, 0, 247);
}

.page-list li:nth-child(odd) {
    background-color: rgb(245, 178, 217);
}

h2::after {
    content: "August 11, 2018";
    font-size: 10px;
    margin-left: 10px;
    color: red;
}

h3 {
    text-align: center;
}
 .table-example {
    border: 5px rgb(0, 0, 0) solid;
} 
.table-example td,
.table-example th {
    border: black 2px solid;
    padding: 10px 20px;
}

.table-example td:nth-child(3){
    color: rgb(240, 24, 24);
    font-weight: bold;
}

.table-example tr:nth-child(odd){
    color: rgb(224, 0, 245);
    
}
.table-example tr:nth-child(odd) td{
    border-bottom: 2px solid rgb(0, 0, 0);
}

#form-example {
    width: 300px;
    margin: 20px auto;
}
#form-example input[type='submit'] {
    background-color: rgb(201, 167, 167);
    border: 2px darkblue solid;
    padding: 10px 20px;
    color: darkblue;
    border-radius: 5px;
}
#form-example input[type='submit']:hover {
    background-color: deepskyblue;
    border-radius: 10px;
}
#form-example input[type='submit']:disabled{
    background-color: darkslategrey;
    color: azure;
    border: gainsboro;
}
#form-example input[type='text'],
#form-example input[type='password']{
    background-color: khaki;
    border: none;
    border-bottom: 2px solid darkblue;
    padding: 10px;
}
#form-example input[type='text']:hover,
#form-example input[type='password']:hover{
    background-color: rgb(223, 170, 26);
}
.first-example {
    line-height: 2.;
    letter-spacing: 3px;
  }
p:lang(en) {
font-size: 16pt;
}
nav p{
    font-size: 1.5em;
   }
   #introduction-example {
    font-weight: normal;
    color: darkorange;
   }
   .cat-example img{
    border: 3px solid black;
  }
  b + i{
    padding-bottom: 30px;
  }
  #contact-form input[type="text"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(221, 90, 90) solid 1px;
    background-color: rgb(226, 58, 114);
}
#contact-form input[type="mail"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(224, 51, 51) solid 1px;
    background-color: rgb(224, 68, 120);
}
#contact-form input[type='submit']:hover{
    background-color: rgb(218, 89, 190);
    border-radius: 7px;
}
#contact-form select{
    height: 30px;
    width: 262px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(250, 138, 222) solid 1px;
    background-color: rgb(231, 108, 149);

}
#contact-form{
    background-color: rgb(169, 105, 230);
}
#contact-form input[type="tel"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: rgb(233, 105, 148);
}
#contact-form textarea[name="Review"]{
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: rgb(224, 104, 144);
}
#contact-form input[type='chekbox']{
    height: 2px;
    width: 25px;
    padding: 5px;
    margin-bottom: 1px;
    border: white solid 1px;
    background-color: rgb(233, 126, 162);
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

   